streamlit
langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
python-docx
pandas
plotly
python-dotenv
sentence-transformers
numpy<2
fpdf2
tiktoken
